################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Services/FileContentIndex/ed3d4915-da42-43bf-af86-f72ce35c8bdd.vsidx
